<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nombre del alimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="header">
  </div>
  <div class="flex">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <img src="./assets/adidas.jpg">
        </div>
      </div>
    </div>
  </div>

  <ion-text color="black">
    <h1>Propiedades del alimento.</h1>
  </ion-text>
</ion-content>
