<ion-content>
  <div class="sign-container gradient-1">
    <div class="header">
      <div class="title ion-text-center">
        <img src="./assets/icon/fitnesslogo.png">
      </div>
    </div>

  <!-- FORMULARIO DE LOGIN PARA EL USUARIO -->
  <div class="login-container">
  <form [formGroup]="loginForm">
    <ion-list lines="none" class="form fade-in">
      <ion-item>
        <!--<ion-label></ion-label>-->
        <!-- Campo para introducir el correo -->
        <ion-input placeholder="Email/Usuario" formControlName="emailusername" class="ion-text-left" [(ngModel)]="username"></ion-input>
        <ion-icon src="/assets/icon/correo.svg" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <!-- <ion-label>Password</ion-label> -->
        <!-- Campo para introducir la contraseña -->
        <ion-input placeholder="Contraseña" formControlName="password" class="ion-text-left" [type]="passwordTypeLogin" clearOnEdit="false" [(ngModel)]="password"></ion-input>
        <!-- Icono candado para el input de la contraseña -->
        <ion-button (click)="toggleViewPasswordLogin()">
          <ion-icon slot="end" name="eye-off" class="ion-icon-password" *ngIf="viewPasswordLogin==false"></ion-icon>
          <ion-icon slot="end" name="eye" class="ion-icon-password"  *ngIf="viewPasswordLogin==true"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item class="item-checkbox" (click)="saveCredentials()">
        <ion-checkbox color="primary" unchecked slot="start"></ion-checkbox>
        <ion-label>Recordar credenciales</ion-label>
      </ion-item>
    </ion-list>
  </form>
    <div class="ion-text-center fade-in">
      <ion-button class="login-button" (click)="login()">
        Login
      </ion-button>  
    </div>
  </div>

  
  <!-- FORMULARIO DE REGISTRO DE USUARIO -->

    <div class="sign-up-container2 gradient-2" [ngClass]="{'active':signupView}" *ngIf="signupView==false">
      
      <div class="toggle-text ion-text-center" tappable (click)="toggleSignUpView()">
        <span *ngIf="!signupView">Register</span>
        <span *ngIf="signupView">Login</span>
        <br>
        <ion-icon name="arrow-up" *ngIf="!signupView"></ion-icon>
        <ion-icon name="arrow-down" *ngIf="signupView"></ion-icon>
      </div>
    </div>

    <div class="sign-up-container gradient-2" [ngClass]="{'active':signupView}" *ngIf="signupView==true">
      
      <div class="toggle-text ion-text-center" tappable (click)="toggleSignUpView()">
        <span *ngIf="!signupView">Register</span>
        <span *ngIf="signupView">Login</span>
        <br>
        <ion-icon name="arrow-up" *ngIf="!signupView"></ion-icon>
        <ion-icon name="arrow-down" *ngIf="signupView"></ion-icon>
      </div> 

      <form [formGroup]="registerForm">
      <ion-list lines="none" class="form" [ngClass]="{'fade-in':signupView, 'fade-out':!signupView}">
        <ion-item>
          <!--<ion-label>Name</ion-label>-->
          <!-- Campo para introducir el nombre -->
          <ion-input placeholder="Nombre" formControlName="name" class="ion-text-left"></ion-input>
          <ion-icon slot="end" name="person"></ion-icon>
        </ion-item>
        <div class="errors" *ngIf="registerForm.get('name').errors && registerForm.get('name').dirty">
          <p *ngIf="registerForm.get('name').hasError('required')">Nombre requerido</p>
        </div>
        <ion-item>
          <!--<ion-label>Surnames</ion-label>-->
          <!-- Campo para introducir los apellidos -->
          <ion-input placeholder="Apellidos" formControlName="surnames" class="ion-text-left"></ion-input>
          <ion-icon slot="end" name="person"></ion-icon>
        </ion-item>
        <div class="errors" *ngIf="registerForm.get('surnames').errors && registerForm.get('surnames').dirty">
          <p *ngIf="registerForm.get('surnames').hasError('required')">Apellidos requeridos</p>
        </div>
        <ion-item>
          <!-- Seleccion de fecha de nacimiento por parte del usuario -->
          <ion-datetime formControlName="birthdate" placeholder="Fecha de nacimiento" class="birthdate"></ion-datetime>
          <ion-icon slot="end" name="calendar-outline"></ion-icon>
        </ion-item>
        <div class="errors" *ngIf="registerForm.get('birthdate').errors && registerForm.get('birthdate').dirty">
          <p *ngIf="registerForm.get('birthdate').hasError('required')">Fecha de nacimiento requerida</p>
        </div>
        <ion-item>
          <!--<ion-label>Weight</ion-label>-->
          <!-- Campo para introducir el peso de la persona -->
          <ion-input placeholder="Peso" formControlName="weight" class="ion-text-left"></ion-input>
          <ion-icon src="/assets/icon/peso.svg" slot="end"></ion-icon>
        </ion-item>
        <div class="errors" *ngIf="registerForm.get('weight').errors && registerForm.get('weight').dirty">
          <p *ngIf="registerForm.get('weight').hasError('required')">Peso requerido</p>
        </div>
        <ion-item>
          <!--<ion-label>Height</ion-label>-->
          <!-- Campo para introducir la altura de la persona -->
          <ion-input placeholder="Altura" formControlName="height" class="ion-text-left"></ion-input>
          <ion-icon src="/assets/icon/altura.svg" slot="end"></ion-icon>
        </ion-item>
        <div class="errors" *ngIf="registerForm.get('height').errors && registerForm.get('height').dirty">
          <p *ngIf="registerForm.get('email').hasError('required')">Altura requerido</p>
        </div>
        <ion-item>
         <!--<ion-label>Username</ion-label>-->
          <!-- Campo para introducir la altura de la persona -->
          <ion-input placeholder="Usuario" formControlName="username" class="ion-text-left"></ion-input>
          <ion-icon slot="end" name="person"></ion-icon>
        </ion-item>
        <div class="errors" *ngIf="registerForm.get('username').errors && registerForm.get('username').dirty">
          <p *ngIf="registerForm.get('email').hasError('required')">Usuario requerido</p>
          
        </div>
        <ion-item>
          <!--<ion-label>Email</ion-label>-->
          <!-- Campo para introducir el correo -->
          <ion-input placeholder="Email" formControlName="email" class="ion-text-left"></ion-input>
          <ion-icon src="/assets/icon/correo.svg" slot="end"></ion-icon>
        </ion-item>
        <!-- Validador del email -->
        <div class="errors" *ngIf="registerForm.get('email').errors && registerForm.get('email').dirty">
          <p *ngIf="registerForm.get('email').hasError('required')">Correo requerido</p>
          <p *ngIf="registerForm.get('email').hasError('email')">Error, tiene que ser un correo valido</p>
        </div>
        <ion-item>
          <!--<ion-label>Password</ion-label>-->
          <!-- Campo para introducir la contraseña -->
          <ion-input placeholder="Contraseña" formControlName="password" class="ion-text-left" [type]="passwordTypeRegister" clearOnEdit="false"></ion-input>
          <!-- Icono candado para el input de la contraseña -->
          <ion-button (click)="toggleViewPasswordRegister()">
            <ion-icon slot="end" name="eye-off" class="ion-icon-password" *ngIf="viewPasswordRegister==false"></ion-icon>
            <ion-icon slot="end" name="eye" class="ion-icon-password"  *ngIf="viewPasswordRegister==true"></ion-icon>
          </ion-button>
          <!--<ion-icon slot="end" name="eye"></ion-icon>-->
        </ion-item>
        <div class="errors" *ngIf="registerForm.get('password').errors && registerForm.get('password').dirty">
          <p *ngIf="registerForm.get('password').hasError('required')">Contraseña requerida</p>
          <p *ngIf="registerForm.get('password').hasError('minlength')">La contraseña tiene que tener minimo 6 caracteres</p>
        </div>
        <ion-item class="item-checkbox">
          <ion-checkbox color="primary" unchecked slot="start" (click)="checked()"></ion-checkbox>
          <ion-label>Aceptar terminos y condiciones</ion-label>
        </ion-item>
      </ion-list>
      </form>

      <div class="ion-text-center" [ngClass]="{'fade-in':signupView, 'fade-out':!signupView}">
        <!-- Activar boton si los terminos y condiciones se han aceptado.  routerLink="/slides"-->
        <ion-button class="login-button" *ngIf="check==true && registerForm.valid" [class.button-disabled]="false" (click)="register()">
          Register
        </ion-button>
        <ion-button class="login-button" *ngIf="check==false && registerForm.valid" [class.button-disabled]="true">
          Register
        </ion-button>
        <!-- Desactivar boton si los terminos y condiciones no se han aceptado. -->
         <ion-button class="login-button-error" *ngIf="check==false && !registerForm.valid || check==true && !registerForm.valid" [class.button-disabled]="true">
          Register
        </ion-button>    
      </div>
    </div>
  </div>
</ion-content>